<div class="container-fluid text-center">
    <header class="row">
        <div class="col-12 border border-white">
            MENU
        </div>
    </header>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 bg-info border border-white p-3">
            IMG1
        </div>
        <div class="d-none d-sm-block d-sm-none d-md-block col-md-6 col-lg-6 col-xl-6 bg-info border border-white p-3">
            IMG2
        </div>
    </div>

    <div class="row">
        <div class="col-12 bg-info border border-white p-3">
            IMG3
        </div>
    </div>
    
    <div class="row">
        <div class="col col-sm-4 col-md-3 col-lg-3 col-xl-3 bg-warning border border-white">
            art
        </div>
        <div class="col col-sm-4 col-md-3 col-lg-3 col-xl-3 bg-warning border border-white">
            art
        </div>
        <div class="d-none d-sm-block col-sm-4 col-md-3 col-lg-3 col-xl-3 bg-warning border border-white">
            art
        </div>
        <div class="d-none d-sm-block d-sm-none d-md-block col-md-3 col-lg-3 col-xl-3 bg-warning border border-white">
            art
        </div>
    </div> 

    <div class="row">
        <div class="col col-sm-4 col-md-3 col-lg-3 col-xl-3 bg-warning border border-white">
            art
        </div>
        <div class="col col-sm-4 col-md-3 col-lg-3 col-xl-3 bg-warning border border-white">
            art
        </div>
        <div class="d-none d-sm-block col-sm-4 col-md-3 col-lg-3 col-xl-3 bg-warning border border-white">
            art
        </div>
        <div class="d-none d-sm-block d-sm-none d-md-block col-md-3 col-lg-3 col-xl-3 bg-warning border border-white">
            art
        </div>
    </div>

    <!--Visible only on sm-->
    <div class="row">
        <div class="d-none d-sm-block d-md-none col-sm-4 bg-warning border border-white">
            art
        </div>
        <div class="d-none d-sm-block d-md-none d-sm-none d-md-block col-sm-4 bg-primary border border-white">
            art
        </div>
        <div class="d-none d-sm-block d-md-none d-sm-none d-md-block col-sm-4 bg-primary border border-white">
            art
        </div>
    </div>

    <!--Visible only on xs-->
    <div class="row">
        <div class="d-block d-sm-none col bg-warning border border-white">
            art
        </div>
        <div class="d-block d-sm-none col bg-warning border border-white">
            art
        </div>
    </div>
    <div class="row">
        <div class="d-block d-sm-none col bg-warning border border-white">
            art
        </div>
        <div class="d-block d-sm-none col bg-warning border border-white">
            art
        </div>
    </div>

    <div class="row">
        <div class="col-12 bg-success border border-white">
            Footer
        </div>
    </div>

</div>