<h1 class="h1 mt-3">Products</h1>
<div class="row p-3 justify-content-center">
  
    <div class="card bg-secondary text-center m-3 shadow text-white" style="width: 18rem;" *ngFor="let producto of productos">
      <p class="card-text text-end">Precio: ${{producto.precio}}</p>
      <img src="assets/images/{{producto.img}}" class="card-img-top" alt="...">
      <div class="card-body">
       <h5 class="card-title">{{producto.nombre}}</h5>
       <p class="card-text">{{producto.descripcion}}</p>
       <a href="#" class="btn btn-primary" (click)="agregarProducto(producto)">Agregar al carrito</a>
     </div>
    </div>
  
</div>


