<div class="p-5">
    <form class="bg-secondary-subtle p-3">
        <div class="mb-3">
        <label for="dni" class="form-label">DNI</label>
        <input type="text" class="form-control" id="dni" name="dni" [(ngModel)]="comprobante.dni">
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio Real</label>
            <input type="number" class="form-control" id="precio" name="precioReal" [(ngModel)]="comprobante.precioReal">
        </div>
        <div class="mb-3 form-check">
            <label for="tipo">Tipo Espectador</label>
            <select class="form-select" aria-label="Default select example" id="tipo" name="tipoEspectador" [(ngModel)]="comprobante.tipoEspectador" (ngModelChange)='calcularDescuento()'>
                <option selected value="n">Seleccione opci&oacute;n</option>
                <option value="e">Extranjero</option>
                <option value="l">Local</option>
            </select>
        </div>

        <label class="text-white p-1 bg-success" *ngIf="(comprobante.tipoEspectador==='l' || comprobante.tipoEspectador==='e') && comprobante.precioReal!=null">
              PRECIO FINAL: {{comprobante.precioCobrado}}
        </label>
       
        <!-- *ngIf="comprobante.tipoEspectador!=null && comprobante.precioReal!=null && comprobante.dni!=null" -->
        <div class="m-3"> 
            <button *ngIf="accion=='new'" type="button" class="btn btn-primary" (click)="guardarTicket()">Registrar</button>
            <button *ngIf="accion=='update'" type="button" class="btn btn-secondary" (click)="modificarTicket()">Modicar</button>
            <button type="button" class="btn btn-primary" (click)="cancelar()">Cancelar</button>
        </div>
        
    </form>
</div>