<div class="mt-3 py-5 text-center">
    <div class="row">
        <div class="col-md-12">
            <button class="text-center" (click)="initializeGame()" *ngIf="!gameStart"> <h1>Click to Start</h1> <img src="assets/images/buttonPlay.png" alt=""></button>
            
            <div class="card col-md-12 bg-success" *ngIf="!gameOver && gameStart">
                <div class="card-body d-flex flex-column align-items-center">
                    <h2 class="fw-bold">Current Iteration: {{currentIteration}}</h2>
                    <h4 class="display-5 fw-bold bg-warning border border-white rounded-5 w-75">¿Cuántas {{currentOption}} hay en la palabra: "{{currentWord}}"?</h4>
                </div>
                <div class="card-footer">
                    <div class="row" *ngFor="let n of randomNumbers">
                        <div class="col">
                            <button class="w-50 m-3 p-2 bg-secondary-subtle border-3 border-white rounded-3" (click)="startGame(n)">{{n}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-5 bg-dark" *ngIf="gameOver">
                <!-- Modal -->
                <div class="modal fade" id="idModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Results</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body bg-black">
                            <div class="card-header text-white">
                                <h3 class="bg-success">Correct Answers: {{correctAnswers}}</h3>
                                <h3 class="bg-danger">Incorrect Answers: {{incorrectAnswers}}</h3>
                                <h3 class="text-white">Total words: {{currentIteration}}</h3>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="initializeGame()">Click on this to play again</button>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="card-body">
                    <h2 class="text-white">Game Over</h2>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#idModal">Ver resultados</button>
                </div>
            </div>

        </div>
    </div>
</div>